 .comment-item {
  padding-bottom: 1%;
}
.comment-op {
  border-bottom: 1px dashed #5e5a86;
  padding-bottom: 1%;
}
 .comment-title {
   border-top: 1px dashed #5e5a86;
   background: #494392;
   height: 50px;
   line-height: 50px;
 }
