<!doctype html>
<html>
<head>
    <base href="{{ sysinfo.website }}"/>
    <title>关于我_{{ sysinfo.name }}</title>
    {% include("res.html") %}
    <link href="/static/css/about.css" rel="stylesheet">
</head>
<body>
{% include("header.tpl") %}
<article>
    <h2 class="litle"><span>等待就是浪费青春</span>关于我</h2>
    <div class="ab_box">
        <div class="leftbox">
            <div class="newsview">
                <div class="news_infos">
                    {% include("about.tpl") ignore missing %}
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="aboutme">
                <h2 class="hometitle">关于我</h2>
                <div class="avatar"><img src="/static/images/my.png"></div>
                <div class="ab_con">
                    <p>网名：洞庭醉雁</p>
                    <p>职业：保密 </p>
                    <p>个人QQ：273506068</p>
                    <p>邮箱：273506068@qq.com</p>
                </div>
            </div>
            <div class="weixin">
                <h2 class="hometitle">官方微信</h2>
                <ul>
                    <img src="/static/images/wx.jpg">
                </ul>
            </div>
        </div>
    </div>
</article>
{% include("footer.html") %}
</body>
</html>
