<!doctype html>
<html>
<head>
    <base href="http://127.0.0.1/static/"/>
    <meta charset="UTF-8">
    <title>关于我_单页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
    {% include("res.html") %}
    <link href="css/about.css" rel="stylesheet">
</head>
<body>
{% include("header.html") %}
<article>
    <h2 class="litle"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>联系我</h2>
    <div class="ab_box">
        <div class="leftbox">
            <div class="newsview">
                <div class="news_infos">
                    {% include("contact.tpl") ignore missing %}
                </div>
            </div>
            <div class="meandblog">
                <h2>我和我的博客</h2>
                <ul>
                    <li><a href="http://www.yangqq.com/jstt/bj/2015-01-09/740.html"
                           target="_blank">【匆匆那些年】总结个人博客经历的这四年</a></li>
                    <li><a href="http://www.yangqq.com/jstt/bj/2014-11-06/732.html" target="_blank">分享我的个人博客访问量如何做到IP从10到600的</a>
                    </li>
                    <li><a href="http://www.yangqq.com/news/s/2014-01-08/635.html" target="_blank">个人博客从简不繁</a></li>
                    <li><a href="http://www.yangqq.com/jstt/bj/2013-06-18/285.html" target="_blank">如果个人博客网站再没有价值，你还会坚持吗？</a>
                    </li>
                    <li><a href="http://www.yangqq.com/news/life/2013-06-06/68.html" target="_blank">Web之路，经历了心酸之后</a>
                    </li>
                    <li><a href="http://www.yangqq.com/jstt/web/2014-01-18/644.html"
                           target="_blank">我的个人博客之――阿里云空间选择</a></li>
                </ul>
            </div>
        </div>
        <div class="rightbox">
            <div class="aboutme">
                <h2 class="hometitle">关于我</h2>
                <div class="avatar"><img src="images/b04.jpg"></div>
                <div class="ab_con">
                    <p>网名：dancesmile | 杨青</p>
                    <p>职业：Web前端设计师、网页设计 </p>
                    <p>个人微信：yangqq_1987</p>
                    <p>邮箱：dancesmiling@qq.com</p>

                </div>
            </div>
            <div class="weixin">
                <h2 class="hometitle">官方微信</h2>
                <ul>
                    <img src="images/wx.jpg">
                </ul>
            </div>
        </div>
    </div>
</article>
{% include("footer.html") %}
</body>
</html>
