<!doctype html>
<html>
<head>
    <base href="{{ sysinfo.website }}"/>
    <title>{{article.title}}_{{ sysinfo.name }}</title>
    {% include("res.html") %}
    <link href="/static/css/info.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/js/plugins/media/mediaelementplayer.min.css">
</head>
<body>
{% include("header.tpl") %}
<article>
    <div class="infos">
        <div class="newsview">
            <h2 class="intitle">您现在的位置是：<a href="/">网站首页</a>&nbsp;&gt;&nbsp;<a href="/article/category/{{ article.category_id}}.html">{{ article.category.name }}</a></h2>
            <h3 class="news_title">{{ article.title }}</h3>
            <div class="news_author">
                <span class="au01">{{ article.member.nickname }}</span>
                <span class="au02">{{ article.publish_time.date() }}</span>
                <span class="au03">共<b>{{ article.click_count }}</b>人围观</span>
            </div>
            <div class="tags">
                {% for tag in article.tags %}
                <a href="/article/tag/{{tag.id}}.html" target="_blank">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div class="news_about"><strong>简介</strong>{{ article.summary }}</div>
            <div class="media-wrapper">
                <video id="player1" width="640" height="360" style="max-width:100%;" poster="http://www.mediaelementjs.com/images/big_buck_bunny.jpg" preload="none" controls playsinline webkit-playsinline>
                    <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/mp4/BigBuckBunny.mp4" type="video/mp4">
                    <track srclang="en" kind="subtitles" src="mediaelement.vtt">
                    <track srclang="en" kind="chapters" src="chapters.vtt">
                </video>
            </div>
            <div class="media-wrapper">
                <audio id="player2" preload="none" controls style="max-width:100%;">
                    <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                </audio>
            </div>
            <div class="news_infos">{{article.content |safe}}</div>
        </div>
    </div>
    {% if article.source_url or article.source %}
    <div class="nextinfo article-notice">
        <p>作者：{{ article.author }}</p>
        <p>来源：<a target="_blank" href="{{ article.source_url }}">{{ article.source }}</a></p>
        <small><i>特别声明：以上文章内容来自互联网转载。如有关于作品内容、涉及版权或其它问题请与本站联系删除。</i></small>
    </div>
    {% endif %}
    <div class="nextinfo">
        <p>上一篇：<a href="/article/{{prevArticle.id}}.html">{{ prevArticle.title }}</a></p>
        <p>下一篇：<a href="/article/{{nextArticle.id}}.html">{{ nextArticle.title }}</a></p>
    </div>
    <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
            {% for rlt in rltArticle %}
            <li><a href="/article/{{rlt.id}}.html" title="{{ rlt.title }}">{{ rlt.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="news_pl">
        <h2>文章评论</h2>
        <ul>
        </ul>
    </div>

</article>
{% include("footer.html") %}
    <script src="/static/js/plugins/media/mediaelement-and-player.min.js"></script>
    <script src="/static/js/plugins/media/zh-cn.js"></script>
    <script src="/static/js/plugins/media/demo.js"></script>
</body>
</html>
