<header>
    <div id="mnav">
        <span class="m_web_name"><h1>{{ sysinfo.name }}</h1></span>
        <h2><span class="navicon"></span></h2>
        <ul>
            {% for nav in navbars %}
                <li><a target="{{ nav.action }}" href="{{ nav.link}}">{{ nav.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="topnav">
        <nav>
            <ul>
                <li class="web_name"><h1>{{ sysinfo.name }}</h1></li>
            {% for nav in navbars %}
                <li><a target="{{ nav.action }}" href="{{ nav.link}}">{{ nav.name }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </div>
</header>