<!doctype html>
<html>
<head>
    <base href="{{ sysinfo.website }}"/>
    <title>{{ sysinfo.name }}__之心情博客!</title>
    {% include("res.html") %}
    <link rel="stylesheet" type="text/css" href="/static/js/plugins/player/styles.css" media="all" >
</head>
<body>
{% include("header.tpl") ignore missing %}
<article>
    {% include("banner.tpl") ignore missing %}
    <div class="blog">
        {% for article in topArticles %}
        <figure>
            <ul>
                <a href="/article/{{article.id}}.html"><img src="{{ article.logo }}"><span></span></a>
            </ul>
            <p><a href="/article/{{article.id}}.html">{{ article.title }}</a></p>
            <figcaption>{{ article.summary }}</figcaption>
        </figure>
        {% endfor %}
    </div>
    <div class="newblogs">
        <h2 class="hometitle">最新文章</h2>
        <ul>
            {% for article in recommendArticles %}
            <li>
                <h3 class="blogtitle">
                    <span><a href="/article/category/{{article.category_id}}.html" title="css3" target="_blank" class="classname">{{ article.category.name }}</a></span>
                    <a href="/article/{{article.id}}.html" target="_blank">{{ article.title }}</a>
                </h3>
                <div class="bloginfo">
                    <span class="blogpic"><a href="/article/{{article.id}}.html" title="{{ article.title }}"><img src="{{ article.logo }}" alt="{{ article.title }}"/></a></span>
                    <p>{{ article.summary }}</p>
                </div>
                <div class="autor">
                    <span class="lm f_l"></span><span class="dtime f_l">{{ article.publish_time.date() }}</span>
                    <span class="viewnum f_l">浏览（<a href="/article/{{article.id}}.html">{{ article.click_count }}</a>）</span>
                    <span class="f_r"><a href="/article/{{article.id}}.html" class="more">阅读原文>></a></span>
                </div>
                <div class="line"></div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="rbox">
        <div class="paihang">
            <h2 class="hometitle">博文排行</h2>
            <ul>
                {% for article in clickCountArticles %}
                <li>
                    <b><a href="/article/{{article.id}}.html" target="_blank">{{ article.title }}</a></b>
                    <p><i><img src="{{ article.logo }}"/></i>{{ article.summary }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="paihang">
            <h2 class="hometitle">站长推荐</h2>
            <ul>
                {% for article in recommendArticles2 %}
                <li>
                    <b><a href="/article/{{article.id}}.html" target="_blank">【{{ article.title }}】</a></b>
                    <p><i><img src="{{ article.logo}}"/></i>{{ article.logo }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="player">
            <h2 class="hometitle">音乐博客</h2>
            <div class="audio_cc">
                <audio id="mp3player">
                    <source title="赵雷 - 我们的时光" src="http://blog.dongtingren.com/static/upload/media/dujiaoxi.mp3" />
                </audio>
            </div>
        </div>
        <div class="weixin">
            <h2 class="hometitle">官方微信</h2>
            <ul>
                <img src="/static/images/wx.jpg">
            </ul>
        </div>
    </div>
</article>
<script src="/static/js/jquery.easyfader.min.js"></script>
<script src="/static/js/plugins/player/audioplayer.js"></script>
<script>
    $(function () {
        $("#banner").easyFader();
        $(".audio_cc").initAudio();
        var player=document.getElementById("mp3player");
        var timer=setInterval(function(){
            try{
                if(player.readyState==4){
                    if(player.paused){
                        player.changeVolumeTo(0.1);
                        player.play();
                    }else
                    {
                        window.clearInterval(timer);
                    }
                }
            }catch (e){
            }
        },4000);
    });
</script>
{% include("footer.html") %}
</body>
</html>
