<!doctype html>
<html>
<head>
    <base href="http://127.0.0.1/static/"/>
    <meta charset="UTF-8">
    <title>首页_{{ sysinfo.name }}</title>
    {% include("res.html") %}
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easyfader.min.js"></script>
    <script>
        $(function () {
            $("#banner").easyFader();
        });
    </script>
</head>
<body>
{% include("header.tpl") ignore missing %}
<article>
    {% include("banner.tpl") ignore missing %}
    <div class="blog">
        {% for article in topArticles %}
        <figure>
            <ul>
                <a href="/article/{{article.id}}.html"><img src="{{ article.logo }}"><span></span></a>
            </ul>
            <p><a href="/article/{{article.id}}.html">{{ article.title }}</a></p>
            <figcaption>{{ article.summary }}</figcaption>
        </figure>
        {% endfor %}
    </div>
    <div class="newblogs">
        <h2 class="hometitle">最新文章</h2>
        <ul>
            {% for article in recommendArticles %}
            <li>
                <h3 class="blogtitle">
                    <span><a href="/article/category/{{article.category_id}}.html" title="css3" target="_blank" class="classname">{{ article.category.name }}</a></span>
                    <a href="/article/{{article.id}}.html" target="_blank">{{ article.title }}</a>
                </h3>
                <div class="bloginfo">
                    <span class="blogpic"><a href="/article/{{article.id}}.html" title="{{ article.title }}"><img src="{{ article.logo }}" alt="{{ article.title }}"/></a></span>
                    <p>{{ article.summary }}</p>
                </div>
                <div class="autor">
                    <span class="lm f_l"></span><span class="dtime f_l">{{ article.publish_time.date() }}</span>
                    <span class="viewnum f_l">浏览（<a href="/article/{{article.id}}.html">{{ article.click_count }}</a>）</span>
                    <span class="f_r"><a href="/article/{{article.id}}.html" class="more">阅读原文>></a></span>
                </div>
                <div class="line"></div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="rbox">
        <div class="paihang">
            <h2 class="hometitle">模板排行</h2>
            <ul>
                {% for article in clickCountArticles %}
                <li>
                    <b><a href="/article/{{article.id}}.html" target="_blank">{{ article.title }}</a></b>
                    <p><i><img src="{{ article.logo }}"/></i>{{ article.summary }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="paihang">
            <h2 class="hometitle">站长推荐</h2>
            <ul>
                {% for article in recommendArticles2 %}
                <li>
                    <b><a href="/article/{{article.id}}.html" target="_blank">【{{ article.title }}</a></b>
                    <p><i><img src="{{ article.logo}}"/></i>{{ article.logo }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="links">
            <h2 class="hometitle">音乐博客</h2>
            <ul>
                <li><a href="http://www.yangqq.com">杨青个人博客</a></li>
                <li><a href="http://www.yangqq.com/download/">个人博客模板</a></li>
                <li><a href="http://www.yangqq.com/link.html">优秀个人博客</a></li>
            </ul>
        </div>
        <div class="weixin">
            <h2 class="hometitle">官方微信</h2>
            <ul>
                <img src="images/wx.jpg">
            </ul>
        </div>
    </div>
</article>
{% include("footer.html") %}
</body>
</html>
