<!doctype html>
<html>
<head>
    <base href="http://127.0.0.1/static/"/>
    <meta charset="UTF-8">
    <title>{{ category.name }}</title>
    {% include("res.html") %}
</head>
<body>
{% include("header.html") %}
<article>
    <h2 class="litle"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>{{ category.parent.name }}</h2>
    <div class="navtab">
        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字"
                       style="color: rgb(153, 153, 153);"
                       onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
                       onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <ul class="navlist" id="pageContent">
            {% for c in categorys %}
                {% if c.id == category.id %}
                    <li id="pagecurrent"><a href="/article/category/{{ c.id }}.html">{{ c.name }}</a></li>
                {% else %}
                    <li><a href="/article/category/{{ c.id }}.html">{{ c.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="newblogs">
        <h2 class="hometitle">最新文章</h2>
        <ul>
            {% for article in pager.items %}
                <li>
                    <h3 class="blogtitle">
                        <span><a href="/article/category/{{ article.category_id }}.html" title="css3" target="_blank"
                                 class="classname">{{ article.category.name }}</a></span>
                        <a href="/article/{{ article.id }}.html" target="_blank">{{ article.title }}</a>
                    </h3>
                    <div class="bloginfo">
                    <span class="blogpic">
                        <a href="/article/{{ article.id }}.html" title="{{ article.title }}">
                            <img src="{{ article.logo }}" alt="{{ article.title }}"/>
                        </a>
                    </span>
                        <p>{{ article.summary }}</p>
                    </div>
                    <div class="autor"><span class="lm f_l"></span><span
                            class="dtime f_l">{{ article.publish_time.date() }}</span><span
                            class="viewnum f_l">浏览（<a
                            href="/article/{{ article.id }}.html">{{ article.click_count }}</a>）</span><span
                            class="f_r"><a
                            href="/article/{{ article.id }}.html" class="more">阅读原文>></a></span></div>
                    <div class="line"></div>
                </li>
            {% endfor %}
        </ul>
        {% if pager.page_count > 0  %}
        <div class="pagelist">
            <a title="Total record">&nbsp;<b>{{ pager.page_no }}/{{ pager.page_count }}</b> </a>&nbsp;&nbsp;&nbsp;
            <a href="/article/category/{{ category.id }}.html">首页</a>&nbsp;
            <a href="/article/category/{{ category.id }}.html?pageNo={{ pager.get_pre_page() }}">上一页</a>&nbsp;
            {% for no in pp %}
                <a href="/article/category/{{ category.id }}.html?pageNo={{ no }}">{{ no }}</a>&nbsp;
            {% endfor %}
            <a href="/article/category/{{ category.id }}.html?pageNo={{ pager.get_next_page() }}">下一页</a>&nbsp;
            <a href="/article/category/{{ category.id }}.html?pageNo={{ pager.page_count }}">尾页</a>
        </div>
        {% endif %}
    </div>
    <div class="rbox">
        <div class="paihang">
            <h2 class="hometitle">点击排行</h2>
            <ul>
                {% for article in clickCountArticles %}
                    <li>
                        <b><a href="/article/{{ article.id }}.html" target="_blank">{{ article.title }}</a></b>
                        <p><i><img src="{{ article.logo }}"/></i>{{ article.summary }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="paihang">
            <h2 class="hometitle">本栏推荐</h2>
            <ul>
                {% for article in recommendArticle %}
                    <li>
                        <b><a href="/article/{{ article.id }}.html" target="_blank">{{ article.title }}</a></b>
                        <p><i><img src="{{ article.logo }}"/></i>{{ article.summary }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="weixin">
            <h2 class="hometitle">官方微信</h2>
            <ul>
                <img src="images/wx.jpg">
            </ul>
        </div>
    </div>

</article>
{% include("footer.html") %}
</body>
</html>
