.cls{clear:both; height:0; overflow:hidden;height:5px;line-height:5px;}
.left {float: left;}
.right{float:right;}
.none{display:none;}
.red {color: #ff0000;}
a, a:focus {text-decoration: none;color: #000;outline: none;}
fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}

legend{padding:.5em;border:0;width:auto}

/**************登录begin******************/
#loginFooter{bottom: 0;position: fixed;}
.loginbg{background:url("../images/login_bg.jpg") repeat center;}
.loginbox{width:120%;}
/**************登录end******************/


/**************框架begin******************/
.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#298830));}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {color: #fff;background:#000000;border-left-color: #dd4b39;font-weight: bold;}
.skin-red .sidebar-menu>li>.treeview-menu {margin: 0 1px;}
.skin-red .sidebar-menu>li.header {color: #4b646f;background: #ECF0F5;}
.skin-red .treeview-menu>li>a {color: #F7F8F9;}
.main-sidebar{position:fixed;}

.table>tbody>tr.infobg>td, .table>tbody>tr.infobg>th, .table>tbody>tr>td.infobg, .table>tbody>tr>th.infobg, .table>tfoot>tr.infobg>td, .table>tfoot>tr.infobg>th, .table>tfoot>tr>td.infobg, .table>tfoot>tr>th.infobg, .table>thead>tr.infobg>td, .table>thead>tr.infobg>th, .table>thead>tr>td.infobg, .table>thead>tr>th.infobg {
    background-color: rgba(243, 156, 18, 0.06);
}
/**************框架end******************/

/**************footer begin******************/
.main-footer{overflow:hidden;width:100%;}
.main-footer #timerBar{margin-right:230px;}
/**************footer end********************/

/***************提示tip begin**********************/
.load_layer{width:160px;height:56px;position: absolute;top:50%;left:50%;line-height:56px;color:#fff;padding-left:60px;font-size:15px;background: #000 url(../images/loading.gif) no-repeat 10px 50%;opacity: 0.7;z-index:9999;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
.tip_success{height:56px;top:50%;position:absolute;left:50%;height: 40px;display:none;text-align: center;z-index:10000;}
.tip_success>span {color: #ffffff;line-height: 40px;font-size: 15px;padding: 10px 15px;border-radius: 5px;background-color:#459032;font-family: -webkit-body;}
.tip_success span.ok{font-weight:bold;font-size:20px;}
/***************提示tip end**********************/