<nb-card>
  <nb-card-header>
    请输入目录名称
    <span class="font-italic">&nbsp;&nbsp;<small>支持多级文件夹创建</small>&nbsp;&nbsp;</span>
  </nb-card-header>
  <nb-card-body>
    <form id="dirForm" onSubmit="return false;">
      <div class="row">
        <div class="col-md-12 form-group">
          <input autocomplete="off" maxlength="20" [(ngModel)]="name" name="name" class="form-control"
                 placeholder="目录名称">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" (click)="submit()">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button nbButton status="danget" (click)="cancel()">取消</button>
  </nb-card-footer>
</nb-card>
