<section class="content-header">
    <h1>关于我们</h1>
    <ol class="breadcrumb">
        <li><a href="manage/index.html"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">关于我们</li>
    </ol>
</section>
{%raw%}
<section class="content" ng-init="loadAbout()">
    <form role="form" method="post" id="aboutForm">
        <div class="box">
            <div class="box-body">
                <textarea id="content" ng-model="content" name="content" style="width:700px;height:300px;"></textarea>
            </div>
            <div class="box-footer">
                <button type="button" ng-click="megerAbout()" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存
                </button>
            </div>
        </div>
    </form>
</section>
{%endraw%}