<section class="content-header">
    <h1>界面管理</h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">模板管理</li>
    </ol>
</section>
{%raw%}
<section class="content" ng-init="typeflag=true;show_edit_file=false;initTemplateTree()">
    <div class="row">
        <div class="col-md-2" style="padding: 0px 0px 0px 10px;">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="smaller">
                        <a href="javascript:void(0)"><i class="fa  fa-refresh"></i>刷新</a>
                    </h4>
                </div>
                <div class="widget-body" style="min-height:476px;border-bottom: 0px;">
                    <div class="widget-main padding-8">
                        <ul id="templateTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10" style="padding: 0px;">
            <div ng-show="!show_edit_file" class="box" style="border-top: 1px solid #d2d6de;margin-top: 3px;">
                <div class="box-header">
                    <ul class="page_bar">
                        <li>
                            <div>当前位置:{{ rel_path }}</div>
                        </li>
                        <li>
                            <input type="file" class="hide" id="file">
                            <button class="btn btn-sm btn-default" ng-click="bindUploadPageFile()">
                                <span class="glyphicon glyphicon-upload"></span> 上传文件
                            </button>
                        </li>
                        <li>
                            <span>新建目录:</span>
                        </li>
                        <li>
                            <div class="input-group" style="width: 200px;">
                                <input id="newdir" type="text" class="form-control">
                                <span style="cursor:pointer" class="input-group-addon"
                                      ng-click="create_dir()">新建</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body table-responsive no-padding" style="min-height:450px">
                    <table class="table table-hover">
                        <tr>
                            <th>文件名</th>
                            <th>大小</th>
                            <th>最后修改时间</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in items">
                            <td>
                                <div style="cursor:pointer" ng-click="clickFile()">
                                    <i class="{{ item.type ==1?'fa fa-folder text-yellow':'' }}"></i> {{ item.name }}
                                </div>
                            </td>
                            <td>{{ item.size}}</td>
                            <td>{{ item.modify_time }}</td>
                            <td>
                                <a class="btn btn-xs btn-info" ng-click="renameFile($event)"><span
                                        class="glyphicon glyphicon-edit"></span> 重命名</a>
                                <a class="btn btn-xs btn-danger" ng-click="deleteFile()"><span
                                        class="glyphicon glyphicon-remove"></span> 删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="show_edit_file" class="box" style="border-top: 1px solid #d2d6de;margin-top: 3px;">
                <div class="box-body">
                    <form role="form" id="pageFileForm" method="post" action="manage/system/web_setting.html">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">文件名称</label>
                                <input type="text" readonly="readonly" ng-model="pageFile.name" name="name" class="form-control" maxlength="20">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">文件内容</label>
                                <textarea class="form-control" rows="15" ng-model="pageFile.content"></textarea>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" ng-click="modifyPageFile()" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                            <button type="button" ng-click="canclePageFile()" class="btn btn-default">取&nbsp;&nbsp;&nbsp;&nbsp;消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{%endraw%}