{%raw%}
<section class="content-header">
    <h1>网站设置</h1>
    <ol class="breadcrumb">
        <li><a href="manage/index.html"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">网站设置</li>
    </ol>
</section>

<section class="content" ng-init="initSysTab()">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li><a href="#info_cc" tabindex="1" data-toggle="tab">基本信息</a></li>
            <li><a href="#copyright_cc" tabindex="2" data-toggle="tab">ICP信息</a></li>
            <li><a href="#nav_cc" tabindex="3" data-toggle="tab">导航设置</a></li>
            <li><a href="#banner_cc" tabindex="4" data-toggle="tab">首页Banner</a></li>
        </ul>
        <div class="tab-content no-padding">
            <div class="chart tab-pane" id="info_cc">
                <form role="form" id="sysinfoForm" method="post" action="manage/system/web_setting.html">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">网站名称</label>
                            <input type="text" ng-model="sysinfo.name" name="name" class="form-control" id="name"
                                   placeholder="请输入网站名称" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">域名</label>
                            <input type="text" ng-model="sysinfo.website" name="website" class="form-control"
                                   id="website" placeholder="请输入网站域名" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">网站关键字</label>
                            <input type="text" ng-model="sysinfo.key_words" name="keywords" class="form-control"
                                   id="keywords" placeholder="请输入网站关键字"
                                   maxlength="200">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">网站描述</label>
                            <input type="text" ng-model="sysinfo.remark" name="remark" class="form-control" id="remark"
                                   placeholder="请输入网站描述"
                                   maxlength="200">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">LOGO</label>
                            <input type="file" file-upload="imgFile" id="imgFile">
                            <input type="hidden" ng-model="sysinfo.logo" name="logo" id="logo"
                                   value="{{imageResult.path}}"/>
                            <img ng-if="imageResult" ng-src="{{imageResult.fullUrl}}" class="img-thumbnail"
                                 width="100px" height="100px">
                            <img ng-if="!imageResult" src="/static/admin/images/no_picture.gif" class="img-thumbnail">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="is_enable" ng-model="sysinfo.is_enable"> 启用站点
                            </label>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" ng-click="mergeSysInfo()" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                    </div>
                </form>
            </div>
            <div class="chart tab-pane" id="copyright_cc">
                <form role="form" method="post" id="sysCopyRightForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">备案号</label>
                            <input type="text" ng-model="copyright.icp" name="icp" class="form-control" id="icp"
                                   placeholder="请输入网站备案号" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">版权信息</label>
                            <input type="text" ng-model="copyright.copyright" name="copyright" class="form-control"
                                   id="copyright" placeholder="请输入版权信息" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">主办单位</label>
                            <input type="text" ng-model="copyright.organizer" name="organizer" class="form-control"
                                   id="organizer" placeholder="请输入网站主办单位" maxlength="50" autocomplete="organization">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">联系人</label>
                            <input type="text" ng-model="copyright.contacts" name="contacts" class="form-control"
                                   id="contacts" placeholder="请输入网站联系人" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">联系电话</label>
                            <input type="text" ng-model="copyright.phone" name="phone" class="form-control" id="phone"
                                   placeholder="请输入联系电话" maxlength="30" autocomplete='tel'>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">联系地址</label>
                            <input type="text" ng-model="copyright.address" name="address" class="form-control"
                                   id="address" placeholder="请输入联系地址" maxlength="50" autocomplete='address-line1'>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" ng-click="mergeSysCopyRight()" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                    </div>
                </form>
            </div>
            <div class="chart tab-pane" id="nav_cc">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm">
                            <a ng-show="show_new_banner" class="btn-sm btn-default" href="javascript:void(0)"
                               ng-click="createNavBarHtml()"><span
                                    class="glyphicon glyphicon-cog"></span>生成静态文件</a>
                            &nbsp;&nbsp;&nbsp;
                            <a ng-show="show_new_navbar" class="btn-sm btn-danger" href="javascript:void(0)"
                               ng-click="newNavBar()">
                                <span class="glyphicon glyphicon-plus"></span>新增</a>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="navbartable">
                        <tr>
                            <th>导航名称</th>
                            <th>链接</th>
                            <th>打开方式</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in navbars">
                            <td>{{ item.name }}</td>
                            <td>{{ item.link }}</td>
                            <td>{{ item.action }}</td>
                            <td>{{ item.seq }}</td>
                            <td>
                                <button ng-show="show_new_navbar" ng-click="editNavBar($event)"
                                        class="btn btn-xs btn-info"><span
                                        class="glyphicon glyphicon-edit"></span> 编辑
                                </button>
                                <button ng-show="show_new_navbar" ng-click="delNavBar()"
                                        class="btn btn-xs btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span> 删除
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="chart tab-pane" id="banner_cc">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm">
                            <a ng-show="show_new_banner" class="btn-sm btn-default" href="javascript:void(0)"
                               ng-click="createBannerHtml()"><span
                                    class="glyphicon glyphicon-cog"></span>生成静态文件</a>
                            &nbsp;&nbsp;&nbsp;
                            <a ng-show="show_new_banner" class="btn-sm btn-danger" href="javascript:void(0)"
                               ng-click="newBanner()"><span
                                    class="glyphicon glyphicon-plus"></span>新增</a>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="bannertable">
                        <tr>
                            <th>标题</th>
                            <th>链接</th>
                            <th>打开方式</th>
                            <th>排序</th>
                            <th>图片</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in banners">
                            <td>{{ item.title }}</td>
                            <td>{{ item.link }}</td>
                            <td>{{ item.action }}</td>
                            <td>{{ item.seq }}</td>
                            <td><a href="javascript:void(0)" ng-show="show_new_banner"
                                   ng-click="showBannerImg()">查看大图</a></td>
                            <td>
                                <button ng-show="show_new_banner" ng-click="editBanner($event)"
                                        class="btn btn-xs btn-info"><span
                                        class="glyphicon glyphicon-edit"></span> 编辑
                                </button>
                                <button ng-show="show_new_banner" ng-click="delBanner()"
                                        class="btn btn-xs btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span> 删除
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" style="width:fit-content">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="file" file-upload="imgFile" id="bannerFile" class="hidden">
                                        <img ng-if="imageResult.path" ng-src="{{imageResult.fullUrl}}" onclick="bannerFile.click()" class="img-rounded">
                                        <img ng-if="!imageResult.path" src="/static/admin/images/add_img.png" onclick="bannerFile.click()" class="img-rounded">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">链接地址</label>
                                        <input type="text" class="form-control" ng-model="imageResult.path"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" ng-click="addBannerLogo()">提交更改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endraw%}
