<table class="table table-bordered">
     <tr>
		<td class="infobg col-md-1 text-right">banner1<br/>最大2M:</td>
		<td class="col-md-5">
				<div class="alert bg-gray disabled color-palette">
					<input type="file" name="file" id="bannerPicFile1" style="display:none" onchange="angular.element(this).scope().uploadWxBanner(this,1)">
				    <a class="close" ng-if="wxparam.banner1" ng-click="wxparam.banner1='';wxparam.bannerHref1='';">&times;</a>
					<img id="bannerPicImg1" ng-src="{{picServer+wxparam.banner1}}" width="100%" height="80" style="cursor:pointer" onclick="$('#bannerPicFile1').click()">
					<input type="hidden" name="banner1" id="bannerPicPath1" ng-model="wxparam.banner1" value="{{wxparam.banner1}}">
					<div class="cls"></div>
					<input type="text" class="form-control"  maxlength="200" name="bannerHref1" ng-model="wxparam.bannerHref1" value="{{wxparam.bannerHref1}}" placeholder="请输入链接地址" autocomplete="off">
				</div>
		</td>
	   	<td class="infobg col-md-1 text-right">banner2<br/>最大2M:</td>
	   	<td class="col-md-5">
				<div class="alert bg-gray disabled color-palette">
					<input type="file" name="file" id="bannerPicFile2" style="display:none" onchange="angular.element(this).scope().uploadWxBanner(this,2)">
				    <a class="close" ng-if="wxparam.banner2" ng-click="wxparam.banner2='';wxparam.bannerHref2='';">&times;</a>
					<img id="bannerPicImg2" ng-src="{{picServer+wxparam.banner2}}" width="100%" height="80" style="cursor:pointer" onclick="$('#bannerPicFile2').click()">
					<input type="hidden" name="banner2" id="bannerPicPath2" ng-model="wxparam.banner2" value="{{wxparam.banner2}}">
					<div class="cls"></div>
					<input type="text" class="form-control"  maxlength="200" name="bannerHref2" ng-model="wxparam.bannerHref2" value="{{wxparam.bannerHref2}}" placeholder="请输入链接地址" autocomplete="off">
				</div>
		</td>
	</tr>
	<tr>
	   <td class="infobg col-md-1 text-right">banner3<br/>最大2M:</td>
	   <td class="col-md-5">
			<div class="alert bg-gray disabled color-palette">
			    <a class="close" ng-if="wxparam.banner3" ng-click="wxparam.banner3='';wxparam.bannerHref3='';">&times;</a>
				<input type="file" name="file" id="bannerPicFile3" style="display:none" onchange="angular.element(this).scope().uploadWxBanner(this,3)">
				<img id="bannerPicImg3" ng-src="{{picServer+wxparam.banner3}}" width="100%" height="80" style="cursor:pointer" onclick="$('#bannerPicFile3').click()">
				<input type="hidden" name="banner3" id="bannerPicPath3" ng-model="wxparam.banner3" value="{{wxparam.banner3}}">
				<div class="cls"></div>
				<input type="text" class="form-control"  maxlength="200" name="bannerHref3" ng-model="wxparam.bannerHref3" value="{{wxparam.bannerHref3}}" placeholder="请输入链接地址" autocomplete="off">
			</div>
		</td>
	   <td class="infobg col-md-1 text-right">banner4<br/>最大2M:</td>
	   <td class="col-md-5">
			<div class="alert bg-gray disabled color-palette">
				<a class="close" ng-if="wxparam.banner4" ng-click="wxparam.banner4='';wxparam.bannerHref4='';">&times;</a>
				<input type="file" name="file" id="bannerPicFile4" style="display:none" onchange="angular.element(this).scope().uploadWxBanner(this,4)">
				<img id="bannerPicImg4" ng-src="{{picServer+wxparam.banner4}}" width="100%" height="80" style="cursor:pointer" onclick="$('#bannerPicFile4').click()">
				<input type="hidden" name="banner4" id="bannerPicPath4" ng-model="wxparam.banner4" value="{{wxparam.banner4}}">
				<div class="cls"></div>
				<input type="text" class="form-control" maxlength="200" name="bannerHref4" ng-model="wxparam.bannerHref4" value="{{wxparam.bannerHref4}}" placeholder="请输入链接地址" autocomplete="off">
			</div>
		</td>
	</tr>
	<tr>
	   <td class="infobg col-md-1 text-right">banner5<br/>最大2M:</td>
	   <td class="col-md-5">
			<div class="alert bg-gray disabled color-palette">
				<a class="close" ng-if="wxparam.banner5" ng-click="wxparam.banner5='';wxparam.bannerHref5='';">&times;</a>	   
				<input type="file" name="file" id="bannerPicFile5" style="display:none" onchange="angular.element(this).scope().uploadWxBanner(this,5)">
				<img id="bannerPicImg5" ng-src="{{picServer+wxparam.banner5}}" width="100%" height="80" style="cursor:pointer" onclick="$('#bannerPicFile5').click()">
				<input type="hidden" name="banner5" id="bannerPicPath5" ng-model="wxparam.banner5" value="{{wxparam.banner5}}">
				<div class="cls"></div>
				<input type="text" class="form-control" maxlength="200" name="bannerHref5" ng-model="wxparam.bannerHref5" value="{{wxparam.bannerHref5}}" placeholder="请输入链接地址" autocomplete="off">
			</div>
		</td>
	   <td class="infobg col-md-1 text-right">banner6<br/>最大2M:</td>
	   <td class="col-md-5">
			<div class="alert bg-gray disabled color-palette">
				<a class="close" ng-if="wxparam.banner6" ng-click="wxparam.banner6='';wxparam.bannerHref6='';">&times;</a>	   
				<input type="file" name="file" id="bannerPicFile6" style="display:none" onchange="angular.element(this).scope().uploadWxBanner(this,6)">
				<img id="bannerPicImg6" ng-src="{{picServer+wxparam.banner6}}" width="100%" height="80" style="cursor:pointer" onclick="$('#bannerPicFile6').click()">
				<input type="hidden" name="banner6" id="bannerPicPath6" ng-model="wxparam.banner6" value="{{wxparam.banner6}}">
				<div class="cls"></div>
				<input type="text" class="form-control" maxlength="200" name="bannerHref6" ng-model="wxparam.bannerHref6" value="{{wxparam.bannerHref6}}" placeholder="请输入链接地址" autocomplete="off">
			</div>
		</td>
	</tr>
</table>
<div class="col-md-12 text-center">
  <button type="button" ng-click="editWxBanner()" class="btn btn-warning"><i class="fa fa-fw fa-save"></i>保 存</button>
</div>
<div class="cls"></div>
