<section class="content-header">
    <h1>修改资料</h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">修改资料</li>
    </ol>
</section>
{%raw%}
<section class="content" ng-init="initMemberValidate()">
    <div class="box">
        <div class="box-body table-responsive no-padding">
            <form role="form" method="post" id="pwdForm" action="javascript:void(0)">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码"
                               maxlength="30" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">确认密码</label>
                        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="请输入确认密码"
                               maxlength="30" autocomplete="off">
                    </div>
                </div>

                <div class="box-footer">
                    <button type="button" ng-click="editPwd()" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                </div>
            </form>
        </div>
    </div>
</section>
{%endraw%}