<nb-card>
  <nb-card-header>
    趋势分析
  </nb-card-header>
  <nb-list>
    <nb-list-item>
      <div class="form-inline">
        <label>日期:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <div ngModel="1" name="type" ngbRadioGroup
             class='btn-group btn-group-toggle btn-outline-toggle-group btn-toggle-radio-group'>
          <label class='btn btn-outline-primary' ngbButtonLabel *ngFor="let item of times">
            <input type='radio' ngbButton value='{{item.id}}' (click)="chooseTime(item.id)">{{item.name}}
          </label>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-primary btn-icon">
              <i class="ion-ios-calendar-outline"></i>
            </button>
          </div>
          <input readonly="readonly" class="form-control" placeholder="选择日期" [nbDatepicker]="rangepicker">
          <nb-rangepicker #rangepicker (rangeChange)="changeDate($event)" format="YYYY-MM-DD"></nb-rangepicker>
        </div>
      </div>
      <div class="margin-top-5p">
        <div style="height:300px" echarts [options]="options" (chartInit)="chartInit($event)" class="echart"></div>
      </div>
      <div class="margin-top-5p">
        <ngx-analysis-flow-table #flowTable></ngx-analysis-flow-table>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
