<!DOCTYPE html>
<html>

<head>
    <#include "/subsite/meta.html">
    <title>BFly Shop 小程序电商系统源码下载【商脉科技】</title>
    <link rel="stylesheet" type="text/css" href="${resRoot}css/common.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/index.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/font-awesome.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="${resRoot}css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="${resRoot}css/about.css"/>
    <link rel="stylesheet" type="text/css" href="${resRoot}css/respond.css">
    <link rel="stylesheet" href="${resServer}/style/js/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="${resServer}/style/js/kindeditor/plugins/code/prettify.css" />
</head>

<body>
<!--头部 begin-->
<#include "/subsite/header.html">
<!--头部 end-->

<!-- banner start -->
<div class="banner">
    <div id="banner">
        <div class="swiper-container">
            <div class='swiper-wrapper'>
                <div class='swiper-slide'>
                    <img alt="长沙网站制作,长沙网站建设" src="${resRoot}images/banner05.png">
                    <div class="pro_desc">
                        <h1>小程序商城系统 JAVA版</h1>
                        <div class="margin-top-20">
                            <p>SpringBoot + UniApp 单商户小程序商城系统.</p>
                            <p>采用当下流行的SpringBoot + MyBatis + EhCache + JWT技术.</p>
                            <p>前后端代码分离,友好的代码结构和注释,便于阅读和二次开发.</p>
                            <p>非常适用于个人、个体户、中小心企业以及创业者使用.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!--正文 start-->
<article class="font16">
    <div class="container margin-top-50">
        <div class="row">
            <div class="col-md-12" id="source">
                <h1 class="text-left">关注微信公众号，获取项目最新源码</h1>
                <div class="row text-center margin-top-50">
                    <div class="col-md-4">
                        <p>加微信获取源码下载地址</p>
                        <img alt="加微信获取源码下载地址" src="${resServer}/style/images/geren.jpg_200_200"/>
                    </div>
                    <div class="col-md-4">
                        <p>加QQ获取源码下载地址</p>
                        <img alt="加QQ获取源码下载地址" src="${resServer}/style/images/qq273506068.png_200_200">
                    </div>
                    <div class="col-md-4">
                        <p>关注企业微信公众号,获取最新动态</p>
                        <img alt="关注企业微信公众号" src="${company.weiXinUrl}_200_200"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="practice">
                <h1 class="text-left">在线体验</h1>
                <div class="margin-50">
                    后台账号:test&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    后台密码:123456&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://sk.yyjsr.com" target="_blank">体台后端</a>
                    <div class="margin-top-20">
                        <p>微信扫码体验</p>
                        <img alt="小程序商城源码,在线体验" src="${resServer}/style/images/acode.jpg_200_200"/>
                        <img alt="小程序商城源码,在线体验" src="${resServer}/style/images/qrcode.jpg_200_200" style="margin-left:10px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="introduce">
                <h1 class="text-left">项目介绍</h1>
                <p class="margin-50">1.BFly Shop小程序商城系统主要采用JAVA语言开发，是一款B2C模式的移动端商城系统。</p>
                <p class="margin-50">2.目前该程序通过后期编译可以生成微信小程序商城，微信公众号商城，APP（android和IOS）商城等主流移动终端。</p>
                <p class="margin-50">3.该项目入门门槛低，能够有效降低企业开发成本，提升开发效率。有开发能力的个人或企业可以通过授权获得源码轻松迭代系统功能。</p>
                <p class="margin-50">4.该系统在硬件和运维成本上的投入非常低，非常适用于个人创业者、个体户、以及中小型企业。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-left">架构介绍</h1>
                <p class="margin-50">1.BFly Shop小程序商城系统技术面上主要分为三大块:后端服务基于SpringBoot2 + SpringMVC、后台管理基于:Vue2.0 + Element UI2.x、小程序端基于:Uni App + Color UI</p>
                <p class="margin-50" style="margin-bottom:10px">2.后端服务:</p>
                <pre>
                    1.1 spring-boot 2.2.5.RELEASE
                    1.2 ehcache 2.6.11
                    1.3 shiro 1.4.0
                    1.4 mybatis-puls 3.3.2
                    1.5 mysql 5.1.47
                    1.6 sauronsoftware 1.0.2
                    1.7 commons-lang3 3.11
                    1.8 fastjson 1.2.54
                    1.9 druid 1.1.18
                    1.10 jcaptcha 1.0
                    1.11 wechatpay 0.2.1
                    1.12 json 20201115
                    1.13 commons-collections4 4.4
                    1.14 commons-beanutils 1.9.4
                    1.15 commons-io 2.8.0
                </pre>
                <p class="margin-50" style="margin-bottom:10px">3.后台管理:</p>
                <pre>
                    1.1 vue 2.5.17
                    1.2 vuex 3.0.1
                    1.3 echarts 4.1.0
                    1.4 element-ui 2.13.2
                    1.5 axios 0.18.0
                    1.6 tinymce-vue 1.1.0
                    1.7 vue-treeselect 0.0.37
                    1.8 font-awesome 4.7.0
                    1.9 scriptjs 2.5.9
                </pre>
                <p class="margin-50" style="margin-bottom:10px">4.小程序端:</p>
                <pre>
                    1.1 Color UI 2.1.6
                    1.2 Uni App
                </pre>
                <p class="margin-50" style="margin-bottom:10px">5.主体包结构:</p>
                <pre>
                    JAVA类包com.bfly
                    1.1 .common 通用的工具类包，包括:常量、Json解析、Xml解析、反射等
                    1.2 .core 系统配置或公共类接口包，包括:系统异常统一处理、全局拦截器、Shiro配置、系统自定义枚举、自定义事件、缓存
                    1.3 .mall 商城各个业务模块包，包括:订单管理、产品管理、系统设置、会员管理、消息管理、推广管理、统计报表等业务模块
                    1.4 XcxMallApplication 系统启动类

                    系统资源包resources
                        1.1 mapper包:mapper接口映射xml文件
                        1.2 application.properties 系统核心配置文件
                        1.3 ehcache.xml 缓存配置文件
                        1.4 logback.xml 日志配置文件
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="product">
                <h1 class="text-left">安装部署</h1>
                <p class="margin-50">1.配置环境（推荐JDK1.8、maven3.6、tomcat8、mysql5.7、ehcache 2.6.x）</p>
                <p class="margin-50">2.创建数据库</p>
                <p class="margin-50">3.初始化SQL脚本 xcx_mall.sql</p>
                <p class="margin-50">4.修改配置文件application.properties 包括:数据库连接池、静态资源文件存放目录</p>
                <p class="margin-50">5.启动后台服务</p>
                <p class="margin-50">6.把打包好的管理后台放到后台服务相同目录</p>
                <p class="margin-50">7.配置Nginx并映射到管理后台项目路径(如需要做Nginx动静分离)</p>
                <p class="margin-50">8. 访问http://127.0.0.1即可</p>
            </div>
        </div>
    </div>
    <div class="pro_bar">
        <h2>一次授权，终生使用</h2>
        <p class="margin-top-20">提供前后端全部源码和文档  ---  授权后可全部获得</p>
        <p class="margin-top-20">全部免费升级  ---  系统会不定期的新增功能和升级，对应版本终身免费更新</p>
        <p class="margin-top-20">快速上手，二次开发  ---  提供免费技术远程协助</p>
        <p class="margin-top-50"></p>
    </div>
    <div class="container margin-top-50">
        <div class="row">
            <div class="col-md-12" id="guestbook">
                <h1 class="text-left">网友留言</h1>
                <div style="margin:20px 0 20px 50px">
                    <textarea name="content" cols="100" rows="8" style="width:100%"></textarea>
                    <div style="float:right;margin-top:10px;">
                        <button type="button" class="btn btn-success" onclick="submitGuestBook()">提交留言</button>
                    </div>
                </div>
                <#assign pageNo ="1">
                <#if RequestParameters['pageNo']??>
                    <#assign pageNo ="${RequestParameters['pageNo']}">
                </#if>
                <@guestBookDirective pageSize="10" pageNo="${pageNo}" status="2" type="3">
                    <div class="pl-header">
                        <em id="pl-totalnum">${guestBookPager.totalCount}</em>条评论
                    </div>
                    <div class="pl-show-list" id="pl-show-all">
                        <#list guestBookPager.data as guestBook>
                            <div class="pl-area pl-show-box" id="pl-show-box-2479">
                                <div class="pl-area-userpic">
                                    <img id="pl-userpic" src="${resServer}/style/images/user_face.png_42_42">
                                </div>
                                <div class="pl-area-post">
                                    <div class="pl-show-title">
                                        <span>${guestBook.area}网友</span>
                                        <span class="pl-show-time pl-fr"> ${guestBook.postDate} </span>
                                    </div>
                                    <div class="pl-show-saytext">
                                        ${guestBook.content}
                                        <#if guestBook.reply>
                                            <div class="ecomment margin-top-20">
                                                <span class="ecommentauthor">${guestBook.replyUserName} 回复：</span>
                                                <div class="ecommenttext">${guestBook.replyContent}</div>
                                            </div>
                                        </#if>
                                    </div>
                                </div>
                                <div class="pl-clr"></div>
                            </div>
                        </#list>
                    </div>
                    <@pagerMacro pager=guestBookPager url="/source.html?pageNo=:pageNo#guestbook"></@pagerMacro>
                </@guestBookDirective>
            </div>
        </div>
    </div>
</article>
<!--正文 end-->

<!-- 底部 start -->
<#include "/subsite/footer.html">
<!-- 底部 end -->
</body>
<script src="${resRoot}js/jquery-1.11.3.min.js"></script>
<script src="${resRoot}swiper/swiper.min.js" type="text/javascript"></script>
<script src="${resRoot}js/common.js" type="text/javascript"></script>
<script src="${resRoot}wow/wow.min.js"></script>
<script charset="utf-8" src="${resServer}/style/js/kindeditor/kindeditor-all-min.js"></script>

<script type="text/javascript">
    var editor;
    $(function () {
        new Swiper('.swiper-container', {
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
        new WOW().init();

        KindEditor.ready(function(K) {
            editor=K.create('textarea[name="content"]', {
                autoHeightMode : true,
                items : ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons','code']
            });
        });
    });
    function submitGuestBook(){
        if(editor.isEmpty()){
            alert("请输入留言内容!");
            return;
        }
        var data = {type: 3, postUserName: "匿名网友", ext: {title: "开源项目咨询", content: editor.html(), email: 'test@test.com', phone: ''}};
        $.ajax({
            type: "POST",
            url: "/guestbook/post.html",
            contentType: 'application/json;charset=utf-8',
            data: JSON.stringify(data),
            dataType: "json",
            success: function () {
                window.location.reload();
            },
            error: function (message) {
                alert("提交失败," + message.responseJSON.message);
            }
        });
    }
</script>
</html>