<section class="content-header">
    <h1>商户详情</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#/sellers">商户中心</a></li>
      <li><a href="#/sellers">商户管理</a></li>
      <li class="active">商户详情</li>
    </ol>
</section>
<section class="content">
	<div class="box box-danger"></div>
	<fieldset>
		<legend>商户基本信息</legend>
		<form class="form-horizontal box-body" role="form" method="post" action="javascript:void(0)" ng-init="detailSeller();loadSellerPics()">
			<div class="form-group">
				<div class="col-sm-12 col-xs-12"><img class="img-circle" ng-src="{{seller.logo}}" height="100"/></div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 col-xs-1">商户名称:</label>
				<div class="col-sm-5 col-xs-5">{{seller.name}}</div>
				<label class="col-sm-1 col-xs-1">商户电话:</label>
				<div class="col-sm-5 col-xs-5">{{seller.phone}}</div>				
			</div>
			<div class="form-group">
				<label class="col-sm-1 col-xs-1">商户地址:</label>
				<div class="col-sm-5 col-xs-5">{{seller.address}}</div>
				<label class="col-sm-1 col-xs-1">入住时间:</label>
				<div class="col-sm-5 col-xs-5">{{seller.registeTime}}</div>				
			</div>
			<div class="form-group">
				<label class="col-sm-1 col-xs-1">类&nbsp;&nbsp;别:</label>
				<div class="col-sm-5 col-xs-5">{{seller.typeName}}</div>
				<label class="col-sm-1 col-xs-1">状&nbsp;&nbsp;态:</label>
				<div class="col-sm-5 col-xs-5">{{seller.enableName}}</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 col-xs-1">营业时间:</label>
				<div class="col-sm-5 col-xs-5">{{seller.shopHours}}</div>
				<label class="col-sm-1 col-xs-1">提供设施:</label>
				<div class="col-sm-5 col-xs-5"><span ng-repeat="item in seller.facilityNames">{{item}}&nbsp;&nbsp;</span></div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 col-xs-1">商户简介:</label>
				<div class="col-sm-11 col-xs-11">{{seller.remark}}</div>
			</div>
		</form>
	</fieldset>
	<fieldset>
		<legend>商户图片</legend>
		<div class="alert alert-default alert-dismissable col-sm-4 col-xs-12" ng-repeat="item in items">
			<button type="button" ng-click="delSellerPics()" class="close" aria-hidden="true">&times;</button>
			<img ng-src="{{item.url}}" width="100%"/>
        </div>
	</fieldset>
	<div class="cls"></div><div class="cls"></div>
	<div class="text-center">
	   <a href="#/sellers" class="btn btn-warning"><i class="fa fa-fw fa-history"></i>返 回</a>
	</div>
</section>