<nb-card>
  <nb-card-header>
    留言设置
  </nb-card-header>
  <nb-card-body>
    <form id="guestBookConfigForm" class="form-horizontal" onSubmit="return false;">
      <div class="row">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 开启留言</label>
        <div class="form-group col-md-9">
          <nb-radio-group [(ngModel)]="guestBookConfig.openGuestBook" name="openGuestBook">
            <nb-radio class="float-left" [value]="true">是</nb-radio>
            <nb-radio class="float-left" [value]="false">否</nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 留言是否登录</label>
        <div class="form-group col-md-9">
          <nb-radio-group [(ngModel)]="guestBookConfig.needLoginGuestBook" name="needLoginGuestBook">
            <nb-radio class="float-left" [value]="true">是</nb-radio>
            <nb-radio class="float-left" [value]="false">否</nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right"><i class="font-red">*</i> 留言日最高限制数</label>
        <div class="form-group col-md-10">
          <input autocomplete="off" type="text" class="form-control" [(ngModel)]="guestBookConfig.maxGuestBookLimit" name="maxGuestBookLimit"
                 maxlength="2" nbPopover="0则无限制" nbPopoverTrigger="hint"/>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <button class="btn btn-success" (click)="editGuestBookConfig()">确 认</button>
  </nb-card-footer>
</nb-card>
