<div class="row">
  <div class="col-xxxl-3 col-md-3" *ngFor="let item of progressInfoData">
    <nb-card>
      <div class="icon-container">
        <div class="icon {{item.iconColor}}" style="display: grid">
          <i class="{{item.icon}}"></i>
          <div class="text-center" style="font-size:1%;margin-bottom:5%">{{ item.title }}</div>
        </div>
      </div>

      <div class="details">
        <div class="title">今日&nbsp;&nbsp;{{ item.today}}</div>
        <div class="status">累计:&nbsp;&nbsp;{{ item.total}}</div>
      </div>
    </nb-card>
  </div>
</div>
