<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>-->
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"></logger>
	<logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="INFO"></logger>
	<logger name="org.springframework.web.util.WebUtils" level="INFO"></logger>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/www/company/cms/logs/cms.log</file>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件按天输出回滚-->
			<FileNamePattern>/usr/local/www/company/cms/logs/%d{yyyy-MM-dd}.log</FileNamePattern>
			<!--日志文件保留30天-->
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<append>true</append>
		<prudent>false</prudent>
	</appender>
	<root>
		<level value="INFO"/>
		<appender-ref ref="fileAppender"/>
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>