<section class="right-container">
    <h3 class="title">联系信息</h3>
    <div class="contact-right">
        <ul>
            <li><b>${company.name}</b></li>
            <li>地&nbsp;&nbsp;&nbsp;址&nbsp;:&nbsp;${company.address}</li>
            <li>业务部&nbsp;:&nbsp;${company.phone}</li>
            <li>技术部&nbsp;:&nbsp;${company.phone}</li>
            <li>邮&nbsp;&nbsp;&nbsp;箱&nbsp;:&nbsp;${company.email}</li>
            <li>网&nbsp;&nbsp;&nbsp;址&nbsp;:&nbsp;${site.webSite}</li>
        </ul>
    </div>
</section>