<table class="table table-bordered">
	<tr>
	   	<td class="infobg col-md-2 text-right"><span class="red">*</span>关注提示类型:</td>
	   	<td class="col-md-10">
	   		<label><input type="radio" ng-model="wxparam.attentionType" name="attentionType" value="text"/>文本</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   		<label><input type="radio" ng-model="wxparam.attentionType" name="attentionType" value="news"/>图文</label>
	   	</td>
	</tr>
	<tr>
	   	<td class="infobg col-md-2 text-right">提示内容:</td>
	   	<td class="col-md-10">
	   		<div ng-show="wxparam.attentionType == 'text'">
	   			<input type="text" class="form-control" maxlength="200" style="height:100px;"  name="attentionContent" ng-model="wxparam.attentionContent" placeholder="微信关注提示语" autocomplete="off">
   			</div>
   			<div ng-show="wxparam.attentionType == 'news'">
   				<input type="file" file-upload="imgFile" id="imgFile" style="display:none"/>
				<div class="well" ng-repeat="item in wxparam.attentionContent">
					<div class="row">
						<div class="col-md-6">
							<input class="form-control" type="text" ng-model="item.title" placeholder="请输入图文消息标题" maxlength="50"/>
						</div>
						<div class="col-md-6">
							<input class="form-control" type="text" ng-model="item.url" placeholder="请输入图文消息跳转连接"/>
						</div>		   						
					</div>
					<div class="cls"></div>
					<div class="row">
						<div class="col-md-6">
							<textarea class="form-control" ng-model="item.description" rows="5" cols="10" placeholder="请输入图文消息描述" maxlength="100">${item.description}</textarea>	
						</div>
						<div class="col-md-6">
							<img ng-if="!item.picUrl" src="resources/images/no_picture.gif" width="145" height="136" style="cursor:pointer" class="thumbnail" onclick="imgFile.click()"/>
							<img ng-if="item.picUrl" ng-src="{{item.picUrl}}" width="145" height="136" style="cursor:pointer" class="thumbnail" onclick="imgFile.click()"/>
							<a class="btn btn-danger right">{{imageResult}}清空</a>
						</div>
					</div>
				</div>
			</div>
	   	</td>
	  </tr>
</table>
<div class="col-md-12 text-center">
   <button type="button" ng-click="editWxParam()" class="btn btn-warning"><i class="fa fa-fw fa-save"></i>保 存</button>
</div>
<div class="cls"></div>