.icon-cc {
  width: 90px;
  height: 64px;
  margin: 30px;

}

.icon {
  width: 64px;
  height: 64px;
}

.icon-card {
  width: 600px;
  height: unset !important;
}

.icon-container {
  width: 600px;
  height: 500px;
}
