<nb-card>
  <nb-card-header>
    修改会员密码
  </nb-card-header>
  <nb-card-body>
    <form id="pwdForm" class="form-horizontal" onSubmit="return false;">
      <div class="row">
        <label class="col-md-4 col-form-label text-right">密码</label>
        <div class="form-group col-md-8">
          <input type="password" autocomplete="off" required="true" class="form-control" [(ngModel)]="data.password" name="password"/>
        </div>
      </div>
      <div class="row">
        <label class="col-md-4 col-form-label text-right">确认密码</label>
        <div class="form-group col-md-8">
          <input type="password" autocomplete="off" required="true" class="form-control" name="confirmPassword"/>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="modal-footer">
      <button type="buttom" class="btn btn-success" (click)="submit()">
        <i class="ion-checkmark"></i> 确 认
      </button>&nbsp;&nbsp;&nbsp;
      <button type="buttom" class="btn btn-default" (click)="cancel()">
        <i class="ion-checkmark"></i> 取 消
      </button>
    </nb-card-footer>
</nb-card>
