<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bfly.trade.members.mapper.MembersMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <parameterMap type="Members" id="MemberparaMap">
    	<parameter property="id" resultMap="id"/>
    	<parameter property="cusCode" resultMap="cus_code"/>
    	<parameter property="enable" resultMap="is_enable"/>
    	<parameter property="registeIp" resultMap="registe_ip"/>
    	<parameter property="registeTime" resultMap="registe_time"/>
    	<parameter property="nickName" resultMap="nick_name"/>
    	<parameter property="sex" resultMap="sex"/>
    	<parameter property="province" resultMap="province"/>
    	<parameter property="city" resultMap="city"/>
    	<parameter property="country" resultMap="country"/>
    	<parameter property="headImgUrl" resultMap="head_img_url"/>
    </parameterMap>

    <resultMap type="Members" id="MemberResultMap">
    	<id property="id" column="id"/>
    	<result property="cusCode" column="cus_code"/>
    	<result property="enable" column="is_enable"/>
    	<result property="registeIp" column="registe_ip"/>
    	<result property="registeTime" column="registe_time"/>
    	<result property="nickName" column="nick_name"/>
    	<result property="sex" column="sex"/>
    	<result property="province" column="province"/>
    	<result property="city" column="city"/>
    	<result property="country" column="country"/>
    	<result property="headImgUrl" column="head_img_url"/>
   	</resultMap>
   	
	<sql id="memberColumn">id,cus_code,is_enable,registe_ip,registe_time,nick_name,sex,province,city,country,head_img_url</sql>
	
	<insert id="save" parameterMap="MemberparaMap" keyProperty="id" useGeneratedKeys="true">
    	<![CDATA[
    		insert into d_member(cus_code,is_enable,registe_ip,registe_time,nick_name,sex,province,city,country,head_img_url) 
    		values(#{cusCode},#{enable},#{registeIp},#{registeTime},#{nickName},#{sex},#{province},#{city},#{country},#{headImgUrl});
    	]]>
	</insert>
	
    <select id="getList" parameterType="map" resultMap="MemberResultMap" >
    	SELECT <include refid="memberColumn"/> from d_member where 1=1
    	<if test="no!=null">and (nick_name like CONCAT('%','${no}','%') or cus_code like CONCAT('%','${no}','%'))</if>
    	<if test="nickName!=null">and nick_name like CONCAT('%','${nickName}','%')</if>
	    <if test="beginTime!=null">and regist_time >= #{beginTime}</if>
	    <if test="endTime!=null"><![CDATA[ and regist_time <= #{endTime}]]></if>    	    	
    	order by id desc
       <if test="firstResult!=null and maxResult!=null">limit #{firstResult} , #{maxResult};</if>
    </select>
    
    <select id="getCount" resultType="int">
    	select count(1) from d_member where 1=1
    	<if test="no!=null">and (nick_name like CONCAT('%','${no}','%') or cus_code like CONCAT('%','${no}','%'))</if>
    	<if test="nickName!=null">and nick_name like CONCAT('%','${nickName}','%')</if>
	    <if test="beginTime!=null">and regist_time >= #{beginTime}</if>
	    <if test="endTime!=null"><![CDATA[ and regist_time <= #{endTime}]]></if>    	    	
    </select>
	
	<select id="getById" resultMap="MemberResultMap">SELECT <include refid="memberColumn"/> from d_member where id=#{id};</select>
	
    <update id="editById" parameterType="Members">
    	<![CDATA[UPDATE d_member SET cus_code=#{cusCode},IS_ENABLE=#{enable},
    	NICK_NAME=#{nickName},SEX=#{sex},PROVINCE=#{province},CITY=#{city},COUNTRY=#{country},HEAD_IMG_URL=#{headImgUrl}
    	WHERE ID=#{id};]]>
    </update>
    
</mapper>