<nb-card>
  <nb-card-header>
    新增友情链接类型
  </nb-card-header>
  <nb-card-body>
    <form id="friendLinkTypeForm" class="form-horizontal" onSubmit="return false;">
      <div class="row">
        <label class="col-md-3 col-form-label text-right"><i class="font-red">*</i> 名称</label>
        <div class="form-group col-md-9">
          <input type="text" autocomplete="off" required="true" class="form-control" [(ngModel)]="friendLinkType.name"
                 name="name"/>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="modal-footer">
      <button type="buttom" class="btn btn-success" (click)="submit()">
        <i class="ion-checkmark"></i> 确 认
      </button>&nbsp;&nbsp;&nbsp;
      <button type="buttom" class="btn btn-default" (click)="cancel()">
        <i class="ion-checkmark"></i> 取 消
      </button>
    </nb-card-footer>
</nb-card>
