<nb-card>
  <nb-card-header>
    企业信息设置
  </nb-card-header>
  <nb-card-body>
    <form id="firewallConfigForm" class="form-horizontal" onSubmit="return false;">
      <div class="row">
        <label class="col-md-2 col-form-label text-right">公司名称</label>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" [(ngModel)]="company.name" name="name" maxlength="50"/>
        </div>
        <label class="col-md-2 col-form-label text-right">公司规模</label>
        <div class="form-group col-md-4">
          <select class="form-control" [(ngModel)]="company.scale" name="scale">
            <option value="">请选择公司规模</option>
            <option *ngFor="let item of scales" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right">公司性质</label>
        <div class="form-group col-md-4">
          <select class="form-control" [(ngModel)]="company.nature" name="nature">
            <option value="">请选择公司性质</option>
            <option *ngFor="let item of natures" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
        <label class="col-md-2 col-form-label text-right">公司行业</label>
        <div class="form-group col-md-4">
          <select class="form-control" [(ngModel)]="company.industry" name="industry">
            <option value="">请选择公司行业</option>
            <option *ngFor="let item of industrys" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right">公司地址</label>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" [(ngModel)]="company.address" name="address" maxlength="100"/>
        </div>
        <label class="col-md-2 col-form-label text-right">公司电话</label>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" [(ngModel)]="company.phone" name="phone" maxlength="50"/>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right">企业邮箱</label>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" [(ngModel)]="company.email" name="email" maxlength="50"/>
        </div>
        <label class="col-md-2 col-form-label text-right">企业微信</label>
        <div class="form-group col-md-4">
          <ngx-uploader-bar [previewPic]="company.weiXinUrl" isPicture="true" (complete)="fileChange($event)"
                            tip="只能上传jpg/png图片，且不超过2M."></ngx-uploader-bar>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right">QQ</label>
        <div class="form-group col-md-10">
          <input type="text" class="form-control" [(ngModel)]="company.qq" name="qq" maxlength="50"
                 placeholder="格式为:售后王小姐:195744210" nbPopover="多个QQ号用逗号隔开,格式为 名称1:QQ号1,名称2:QQ号2" nbPopoverTrigger="hint"/>
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 col-form-label text-right">公司简介</label>
        <div class="form-group col-md-10">
          <editor [(ngModel)]="company.remark" name="remark" [init]="editParam"></editor>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <button class="btn btn-success" (click)="editCompany()">确 认</button>
  </nb-card-footer>
</nb-card>

