<nb-card>
  <nb-card-header>
    重置密码
  </nb-card-header>
  <nb-card-body>
    <form id="passwordForm" class="form-horizontal" onSubmit="return false;">
      <div class="row">
        <label class="col-md-4 form-control-label text-right"><i class="font-red">*</i> 新密码</label>
        <div class="form-group col-md-8">
          <input type="password" autocomplete="off" class="form-control" [(ngModel)]="password" name="password" placeholder="请输入新密码">
        </div>
      </div>
      <div class="row">
        <label class="col-md-4 form-control-label text-right"><i class="font-red">*</i> 重复密码</label>
        <div class="form-group col-md-8">
          <input type="password" autocomplete="off" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="请重复输入新密码">
        </div>
      </div>

    </form>
  </nb-card-body>
  <nb-card-footer style="padding-left:25%">
    <button type="buttom" class="btn btn-success" (click)="submit()">
      <i class="ion-checkmark"></i> 确 认
    </button>&nbsp;&nbsp;&nbsp;
    <button type="buttom" class="btn btn-default" (click)="cancel()">
      <i class="ion-checkmark"></i> 取 消
    </button>
  </nb-card-footer>
</nb-card>
