<section class="content-header">
    <h1>编辑文章</h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li href="#/articles">文章管理</li>
        <li class="active">编辑文章</li>
    </ol>
</section>
{%raw%}
<section class="content" ng-init="initArticleValidate();detailArticle();">
    <div class="box">
        <div class="box-body table-responsive no-padding">
            <form role="form" method="post" id="articleForm">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <div class="box-body" style="overflow: hidden;">
                    <div class="form-group">
                        <span class="red">*</span>
                        <label>选择栏目</label>
                        <select name="category_id" id="category_id" class="form-control">
                            <option value="0">请选择类别</option>
                            <optgroup label="{{ c.name }}" ng-repeat="c in categorys">
                                <option ng-selected="article.category_id==item.id" ng-repeat="item in c.items" value="{{ item.id }}">
                                    {{ item.name}}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="red">*</span>
                        <label>标题</label>
                        <input type="text" ng-model="article.title" name="title" class="form-control" id="title" placeholder="请输入标题"
                               maxlength="50" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <span class="red">*</span>
                        <label>摘要</label>
                        <textarea ng-model="article.summary" name="summary" id="summary" maxlength="200" placeholder="请输入摘要"
                                  class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>标签</label>
                        <input type="hidden" id="tag_ids" name="tag_ids"/>
                        <select class="form-control select2" multiple="multiple" data-placeholder="请选择标签" id="tags">
                            <option ng-if="article.tags" ng-selected="checkExistTagChoose(article.tags,tag.id)" ng-repeat="tag in items" value="{{tag.id}}">{{ tag.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="red">*</span>
                        <label for="exampleInputPassword1">排序</label>
                        <input ng-model="article.seq" type="text" name="seq" class="form-control" id="seq" placeholder="请输入排序序号"
                               maxlength="3" value="0">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>作者</label>
                                <input ng-model="article.author" type="text" name="author" class="form-control" id="author" placeholder="请输入文章作者"
                                       maxlength="50">
                            </div>
                            <div class="col-md-4">
                                <label>来源</label>
                                <input ng-model="article.source" type="text" name="source" class="form-control" id="source" placeholder="请输入文章来源"
                                       maxlength="50">
                            </div>
                            <div class="col-md-4">
                                <label>来源URL</label>
                                <input ng-model="article.source_url" type="text" name="source_url" class="form-control" id="source_url"
                                       placeholder="请输入文章来源URl" maxlength="200">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <input ng-model="article.is_recommend" type="checkbox" id="is_recommend" name="is_recommend" class="icheckbox_minimal"> 推荐
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input ng-model="article.is_top" type="checkbox" id="is_top" name="is_top" class="icheckbox_minimal"> 置顶
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input ng-model="article.is_verify" type="checkbox" id="is_verify" name="is_verify"
                                           class="icheckbox_minimal"> 审核通过
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>LOGO</label>
                                <input type="file" file-upload="imgFile" id="imgFile" class="hidden">
                            </div>
                            <div class="col-md-4">
                                <input type="hidden" name="logo" id="logo" value="{{imageResult.path}}"/>
                                <img ng-if="imageResult" ng-src="{{imageResult.fullUrl}}" class="img-thumbnail" width="100px" height="100px" onclick="imgFile.click()">
                                <img ng-if="!imageResult" src="/static/admin/images/no_picture.gif" class="img-thumbnail" onclick="imgFile.click()">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>音频</label>
                                <input type="text" ng-model="article.mp3_url" name="mp3_url" id="mp3_url"  class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label><br>
                                <input type="file" file-upload="file" id="mp3File" class="hidden" targetPath="mp3_url">
                                <a class="btn btn-microsoft" onclick="mp3File.click()"><i class="fa fa-fw fa-music"></i>&nbsp;上传音频</a>
                            </div>
                            <div class="col-md-4">
                                <label>视频</label>
                                <input type="text" ng-model="article.mp4_url" name="mp4_url" id="mp4_url"  class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label><br>
                                <input type="file" file-upload="file" id="mp4File" class="hidden" targetPath="mp4_url">
                                <a class="btn btn-microsoft" onclick="mp4File.click()"><i class="fa fa-fw fa-video-camera"></i>&nbsp;上传视频</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="red">*</span>
                        <label>内容</label>
                        <textarea name="content" id="content" class="form-control" rows="20"
                                  style="width: auto">{{ article.content }}</textarea>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" ng-click="editArticle()" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;&nbsp;存
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{%endraw%}