{%raw%}
<section class="content-header">
    <h1>文章管理</h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">文章管理</li>
    </ol>
</section>

<section class="content" ng-init="initCheck();loadCategorys();loadArticles();">
    <div class="row">
        <div class="col-md-2">
            <div class="widget-box">
                <div class="widget-header header-color-green2">
                    <h4 class="lighter smaller">类别</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-8">
                        <div id="tree2" class="tree tree-unselectable">
                            <div class="tree-folder" ng-repeat="c in categorys">
                                <div class="tree-folder-header" ng-click="categoryTreeChange($event);chooseCategory()">
                                    <i class="fa fa-folder-open"></i>
                                    <div class="tree-folder-name">{{ c.name}}</div>
                                </div>
                                <div class="tree-folder-content">
                                    <div class="tree-item" style="display: block;" ng-repeat="item in c.items" ng-click="chooseCategory()">
                                        <div class="tree-item-name">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                            {{ item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="box">
                <div class="box-header">
                    <nav>
                        <a class="btn-sm btn-warning" href="javascript:void(0)" ng-click="loadArticles()"><span
                                class="glyphicon glyphicon-refresh"></span> 刷新</a>
                        <a class="btn-sm btn-danger" ng-click="addTag()" href="javascript:void(0)"><span
                                class="glyphicon glyphicon-plus"></span> 新增</a>
                    </nav>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="title" class="form-control pull-right"
                                   placeholder="搜索文章标题...">
                            <div class="input-group-btn">
                                <button type="button" ng-click="searchArticle()" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th><input type="checkbox" class="icheckbox_minimal" ng-model="selected_all" ng-click="selectChkAll()"/></th>
                            <th>标题</th>
                            <th>点击率</th>
                            <th>作者</th>
                            <th>发布时间</th>
                            <th>状态</th>
                        </tr>
                        <tr ng-repeat="item in items">
                            <td><input type="checkbox" ng-model="item.checked" class="icheckbox_minimal" ng-change="selectOne()"></td>
                            <td>[{{ item.category_name }}]&nbsp;<a>{{ item.title }}</a></td>
                            <td>{{ item.click_count }}</td>
                            <td>{{ item.username}}</td>
                            <td>{{ item.publish_time }}</td>
                            <td><span class="label {{item.is_verify?'label-success':'lable-danger'}}">{{item.is_verify?"审核通过":"审核未通过"}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="text-right">
                        <pager page-count="pageCount" current-page="currentPage" on-page-change="loadArticles()"
                               first-text="首页"
                               next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button ng-disabled="is_disabled" class="btn btn-social btn-foursquare"><i class="fa fa-bitbucket"></i>删除</button>
                <button ng-disabled="is_disabled" class="btn btn-social btn-dropbox"><i class="fa fa-arrow-up"></i>置顶</button>
                <button ng-disabled="is_disabled" class="btn btn-social btn-dropbox"><i class="fa  fa-arrow-down"></i>取消置顶</button>
                <button ng-disabled="is_disabled" class="btn btn-social btn-google"><i class="fa fa-heart"></i>推荐</button>
                <button ng-disabled="is_disabled" class="btn btn-social btn-google"><i class="fa fa-heart-o"></i>取消推荐</button>
                <button ng-disabled="is_disabled" class="btn btn-social btn-tumblr"><i class="fa fa-check"></i>审核通过</button>
                <button ng-disabled="is_disabled" class="btn btn-social btn-tumblr"><i class="fa fa-close "></i>退回</button>
            </div>
        </div>
    </div>
</section>
{%endraw%}