<ul class="list-unstyled list-inline">
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon1">
                        <a target="_blank" href="/news/id_GrYgdnj21n0wLlB8.html" ${city.shortName}五金制造行业网站建设>
                            <img src="${resRoot}images/hy01.png" alt="${city.shortName}五金制造行业网站建设" title="${city.shortName}五金制造行业网站建设"/>
                        </a>
                    </span>
        <label>
            <a target="_blank" href="/news/id_GrYgdnj21n0wLlB8.html" ${city.shortName}五金制造行业网站建设>五金制造行业</a>
        </label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon1">
                        <a target="_blank" title="${city.shortName}农业养殖行业网站建设">
                            <img src="${resRoot}images/hy02.png" alt="${city.shortName}农业养殖行业网站建设" title="${city.shortName}农业养殖行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}农业养殖行业网站建设">农业养殖行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon2">
                        <a target="_blank" title="${city.shortName}房地产行业网站建设">
                            <img src="${resRoot}images/hy03.png" alt="${city.shortName}房地产行业网站建设" title="${city.shortName}房地产行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}房地产行业网站建设">房地产行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon3">
                        <a target="_blank" href="/news/id_rJMeOkpLP7povR6G.html" title="${city.shortName}建材装修行业网站建设">
                            <img src="${resRoot}images/hy04.png" alt="${city.shortName}建材装修行业网站建设" title="${city.shortName}建材装修行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" href="/news/id_rJMeOkpLP7povR6G.html" title="${city.shortName}建材装修行业网站建设">建材装修行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon4">
                        <a target="_blank" title="${city.shortName}通讯数码行业网站建设">
                            <img src="${resRoot}images/hy05.png" alt="${city.shortName}通讯数码行业网站建设" title="${city.shortName}通讯数码行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}通讯数码行业网站建设">通讯数码行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon5">
                        <a target="_blank" title="${city.shortName}学校培训行业网站建设">
                            <img src="${resRoot}images/hy06.png" alt="${city.shortName}学校培训行业网站建设" title="${city.shortName}学校培训行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}学校培训行业网站建设">学校培训行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon6">
                        <a target="_blank" title="${city.shortName}餐饮食品行业网站建设">
                            <img src="${resRoot}images/hy07.png" alt="${city.shortName}餐饮食品行业网站建设" title="${city.shortName}餐饮食品行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}餐饮食品行业网站建设">餐饮食品行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon7">
                        <a target="_blank" title="${city.shortName}婚庆摄影行业网站建设">
                            <img src="${resRoot}images/hy08.png" alt="${city.shortName}婚庆摄影行业网站建设" title="${city.shortName}婚庆摄影行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}婚庆摄影行业网站建设">婚庆摄影行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon8">
                        <a target="_blank" href="/news/id_4kDaMPjAaNjn31bm.html" title="${city.shortName}物流运输行业网站建设">
                            <img src="${resRoot}images/hy09.png" alt="${city.shortName}物流运输行业网站建设" title="${city.shortName}物流运输行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" href="/news/id_4kDaMPjAaNjn31bm.html" title="${city.shortName}物流运输行业网站建设">物流运输行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon9">
                        <a target="_blank" title="${city.shortName}服装纺织行业网站建设">
                            <img src="${resRoot}images/hy10.png" alt="${city.shortName}服装纺织行业网站建设" title="${city.shortName}服装纺织行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}服装纺织行业网站建设">服装纺织行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon10">
                        <a target="_blank" title="${city.shortName}机械机电行业网站建设">
                            <img src="${resRoot}images/hy11.png" alt="${city.shortName}机械机电行业网站建设" title="${city.shortName}机械机电行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}机械机电行业网站建设">机械机电行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon11">
                        <a target="_blank" title="${city.shortName}金融证券行业网站建设">
                            <img src="${resRoot}images/hy12.png" alt="${city.shortName}金融证券行业网站建设" title="${city.shortName}金融证券行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}金融证券行业网站建设">金融证券行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon12">
                        <a target="_blank" title="${city.shortName}广告媒体行业网站建设">
                            <img src="${resRoot}images/hy13.png" alt="${city.shortName}广告媒体行业网站建设" title="${city.shortName}广告媒体行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}广告媒体行业网站建设">广告媒体行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon13">
                        <a target="_blank" title="${city.shortName}医疗保健行业网站建设">
                            <img src="${resRoot}images/hy14.png" alt="${city.shortName}医疗保健行业网站建设" title="${city.shortName}医疗保健行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}医疗保健行业网站建设">医疗保健行业</a></label>
    </li>
</ul>