<div class="header">
    <div class="zcon">
        <div class="head">
            <div class="logo">
                <a href="index.html" title="${city.shortName}网站建设,${city.shortName}专业软件开发定制服务商">
                    <img title="${city.shortName}网站建设,${city.shortName}专业软件开发定制服务商" alt="${city.shortName}网站建设,${city.shortName}专业软件开发定制服务商" src="${resServer}/style/images/subsite_logo.png"/>
                </a>
            </div>
            <div class="center_intrl">
                <h4 class="">${city.shortName}专业<b>网络建设 小程序开发 软件开发</b>IT服务商</h4>
                <p>您的客户正在网上找你,还在犹豫什么?</p>
            </div>
            <div class="top_tel">
                <p><i>咨询热线24h：</i><span>17752832748</span></p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="zcon">
            <ul class="nav-box" id="nav-box">
                <li class="first"><a href="index.html" title="${city.shortName}网站制作">首页</a><span></span></li>
                <li><a href='/site/${city.pinyin}/design.html' title="${city.shortName}网站建设">网站建设</a><span></span></li>
                <li><a href='/site/${city.pinyin}/market.html' title="${city.shortName}营销型网站开发">营销型网站</a><span></span></li>
                <li><a href='/site/${city.pinyin}/brand.html' title="${city.shortName}品牌型网站制作">品牌型网站</a><span></span></li>
                <li><a href='/site/${city.pinyin}/xcx.html' title="${city.shortName}小程序开发">小程序开发</a><span></span></li>
                <li><a href='/site/${city.pinyin}/case.html' title="${city.shortName}软件开发公司">案例展示</a><span></span></li>
                <li><a href='/site/${city.pinyin}/about.html' title="${city.shortName}软件开发公司">关于我们</a><span></span></li>
                <li><a href='/site/${city.pinyin}/contact.html' title="${city.shortName}软件开发公司">联系我们</a><span></span></li>
            </ul>
        </div>
    </div>
    <a href="javascript:" id="pull" onclick=''><img  alt="长沙网站制作,长沙网站建设" src="${resRoot}images/menu.png" title="menu"/></a>
    <div class="menu_bg" id="menu_bg"></div>
</div>
<div class="sidemenu" id="side-menu">
    <ul>
        <li class="homeli"><a href='index.html' title="${city.shortName}网站制作">首页</a></li>
        <li><a href='/site/${city.pinyin}/design.html' title="${city.shortName}网站建设">网站建设</a></li>
        <li><a href='/site/${city.pinyin}/market.html' title="${city.shortName}营销型网站开发">营销型网站</a></li>
        <li><a href='/site/${city.pinyin}/brand.html' title="${city.shortName}品牌型网站制作">品牌型网站</a></li>
        <li><a href='/site/${city.pinyin}/xcx.html' title="${city.shortName}小程序开发">小程序开发</a></li>
        <li><a href='/site/${city.pinyin}/case.html' title="${city.shortName}软件开发公司">案例展示</a></li>
        <li><a href='/site/${city.pinyin}/about.html' title="${city.shortName}软件开发公司">关于我们</a></li>
        <li><a href='/site/${city.pinyin}/contact.html' title="${city.shortName}软件开发公司">联系我们</a></li>
    </ul>
</div>