    <#assign resRoot="${resServer}/style/subsite/"/>
<title>${city.shortName}网站建设_${city.shortName}网站制作_${city.shortName}软件开发_${city.shortName}网站开发_${city.shortName}小程序开发_${city.shortName}微信公众号_${city.shortName}网络营销【商脉科技】</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="商脉科技有限公司是一家专业从事${city.shortName}网站建设、小程序APP开发、网络SEM营销、以及智能设备研发和集成的技术型企业。长期专注于传统、制造、生产、加工、服务等相关行业信息化领域,欢迎广大客户前来咨询!"/>
    <meta name="keywords" content="${city.shortName}网站建设,${city.shortName}网站制作,${city.shortName}软件开发,${city.shortName}小程序制作,${city.shortName}网站seo,${city.shortName}网站制作公司,${city.shortName}网站设计,${city.shortName}微信公众号"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="baidu-site-verification" content="unyquerAqv" />
    <meta name="360-site-verification" content="f0bd44dd2660681c92dd96c90a0c6aad" />
    <meta name="shenma-site-verification" content="40884e875d759e225ebc5e2be1afd262_1598401692">