<!DOCTYPE html>
<html>

<head>
    <#include "/subsite/meta.html">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/common.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/index.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/respond.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/about.css">
    <link rel="stylesheet" type="text/css" href="${resRoot}css/bootstrap.css" media="screen"/>
</head>

<body>
<!--头部 begin-->
<#include "/subsite/header.html">
<!--头部 end-->

<!--正文 start-->
<@articleDirective articleId="${articleId}">
    <#assign article=article/>
</@articleDirective>
<article class="page-container">
    <div class="zcon">
        <div class="fangan_con">
            <h1>${city.shortName}${article.articleExt.title}</h1>
            <div class="info_body">
                ${article.articleTxt.txt}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</article>
<!--正文 end-->

<!-- 底部 start -->
<#include "/subsite/footer.html">
<!-- 底部 end -->
</body>
<script src="${resRoot}js/jquery-1.11.3.min.js"></script>
<script src="${resRoot}js/common.js" type="text/javascript"></script>
<script>
</script>
</html>