<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/admin/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/admin/plugins/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/admin/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/admin/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/admin/css/style.css">
    <!--[if lt IE 9]>
        <script src="/static/admin/plugins/respond/html5shiv.min.js"></script>
        <script src="/static/admin/plugins/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper" style="overflow: hidden;">

    <!-- 头部内容 begin -->
    <header class="main-header">
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>BLOG</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>博客管理系统</b></span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有4条未读留言</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="/static/admin/dist/img/user2-160x160.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                张三丰
                                                <small><i class="fa fa-clock-o"></i> 5 分钟前</small>
                                            </h4>
                                            <p>发现一个bug?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有留言</a></li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有10条未处理评论</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 这个评论怎么评的啊?
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有评论</a></li>
                        </ul>
                    </li>
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有9个计划任务</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                系统备份
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">20% 完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看所有任务</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/static/admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ login_user }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/static/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    {{ login_user }} - 超级管理员
                                    <small>2018-09-11</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">修改资料</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/manage/logout.html" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- 头部内容 end -->

    <!-- 左边内容 begin -->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- 左侧用户面板 begin -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/static/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ login_user }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- 左侧用户面板 end -->

            <!-- 搜索框 begin -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="请输入文章关键字">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <!-- 搜索框 end -->

            <!-- 菜单栏 begin -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">北京 多云 23 星期一 13:10</li>
                <li class="treeview" id="sysmenu">
                    <a href="javascript:void(0)">
                        <i class="fa fa-dashboard"></i> <span>系统管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="#/web_setting"><i class="fa fa-circle-o"></i> 网站设置</a></li>
                        <li><a href="#/web_template"><i class="fa fa-circle-o"></i> 网站模版</a></li>
                        <li><a href="#/tasks"><i class="fa fa-circle-o"></i> 系统任务</a></li>
                        <li><a href="#/about"><i class="fa fa-circle-o"></i> 关于我们</a></li>
                        <li><a href="#/contact"><i class="fa fa-circle-o"></i> 联系我们</a></li>
                    </ul>
                </li>
                <li class="treeview" id="membermenu">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>用户管理</span>
                        <span class="fa fa-angle-left pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/members"><i class="fa fa-circle-o"></i> 用户信息</a></li>
                        <li><a href="#/members/unverify"><i class="fa fa-circle-o"></i> 新用户审核</a></li>
                    </ul>
                </li>
                <li class="treeview" id="articlemenu">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>博客管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/articles"><i class="fa fa-circle-o"></i> 文章管理</a></li>
                        <li><a href="#/tags"><i class="fa fa-circle-o"></i> 标签管理</a></li>
                        <li><a href="#/categorys"><i class="fa fa-circle-o"></i> 类别管理</a></li>
                        <li><a href="#/comments"><i class="fa fa-circle-o"></i> 评论管理</a></li>
                    </ul>
                </li>
                <li class="treeview" id="seomenu">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>SEO营销</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/friendlink"><i class="fa fa-circle-o"></i> 友情链接</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 站点关键字</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> 站点统计</a></li>
                    </ul>
                </li>
                <li class="treeview" id="usermenu">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>组织结构</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/users"><i class="fa fa-circle-o"></i> 系统用户</a></li>
                        <li><a href="#/menus"><i class="fa fa-circle-o"></i> 菜单管理</a></li>
                        <li><a href="#/roles"><i class="fa fa-circle-o"></i> 角色管理</a></li>
                    </ul>
                </li>
                <li class="treeview" id="logmenu">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>日志管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#/loginlogs"><i class="fa fa-circle-o"></i> 登录日志</a></li>
                        <li><a href="#/oplogs"><i class="fa fa-circle-o"></i> 操作日志</a></li>
                        <li><a href="#/logfiles"><i class="fa fa-circle-o"></i> 服务器日志</a></li>
                    </ul>
                </li>
                <li class="header">快捷操作</li>
                <li><a href="#/home"><i class="fa fa-circle-o text-red"></i> <span>首页</span></a></li>
                <li><a href="/manage/system/editpwd.html"><i class="fa fa-circle-o text-red"></i> <span>修改密码</span></a></li>
                <li><a href="/manage/logout.html"><i class="fa fa-circle-o text-yellow"></i> <span>退出系统</span></a></li>
            </ul>
            <!-- 菜单栏 end -->
        </section>
    </aside>
    <!-- 左边内容 end -->

    <!-- 中间主要内容 begin -->
    <div class="content-wrapper">
        <ng-view></ng-view>
        <loading></loading>
        <tipsuccess></tipsuccess>
    </div>
    <!-- 中间主要内容 end -->

    <!-- 底部 begin -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2018-2022 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
    <!-- 底部 end -->

    <!-- 右边内容 begin-->
    <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab"></div>
            <div class="tab-pane" id="control-sidebar-settings-tab"></div>
        </div>
    </aside>
    <!-- 右边内容 end -->
    <div class="control-sidebar-bg"></div>
</div>
<script src="/static/admin/plugins/jquery/jquery.min.js"></script>

<script src="/static/admin/dist/js/adminlte.min.js"></script>
<script type="text/javascript" data-main="../static/admin/js/main" src="/static/admin/plugins/requirejs/require.js"></script>
</body>
</html>
