{% raw %}
<section class="content-header">
    <h1>系统概况</h1>
</section>

<section class="content" ng-init="loadData()">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>
                    <p>今日新增文章</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">查看 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>今日新增评论</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">查看 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>
                    <p>今日新增用户</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">查看 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>
                    <p>今日新增留言</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">查看 <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <section class="col-lg-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="cpu_report" class="col-lg-4" style="height:200px;"></div>
                    <div id="cpu_report_line" class="col-lg-8" style="height:200px;"></div>
                </div>
            </div>
        </section>
        <section class="col-lg-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="mem_report" class="col-lg-4" style="height:200px;"></div>
                    <div id="mem_chart_line" class="col-lg-8" style="height:200px;"></div>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col-lg-6">
            <!-- 今日网站流量统计 begin-->
            <div class="box box-solid">
                <div class="box-body">
                    <div id="pv_report" style="height:300px;"></div>
                </div>
            </div>
            <!-- 今日网站流量统计 end-->

            <!-- 搜索词 Top 10  begin-->
            <div class="box box-success">
                <div class="box-body">
                    <div id="keywords_report" style="height:300px;"></div>
                </div>
            </div>
            <!-- 搜索词 Top 10  end-->
        </section>

        <section class="col-lg-6">
            <!-- 网站访问来源统计 begin -->
            <div class="box box-solid">
                <div class="box-body">
                    <div id="source_report" style="height:300px;"></div>
                </div>
            </div>
            <!-- 网站访问来源统计 end -->

            <!-- 来访域名 Top 10 begin -->
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title">来访域名 Top 10<small>(数据截至今日)</small></h3>
                </div>
                <div class="box-body border-radius-none">
                    <table class="table no-margin">
                        <thead>
                        <tr>
                            <th>域名</th>
                            <th>浏览量(PV)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="link in links">
                            <td><a href="{{ link[0] }}" target="_blank">{{ link[0] }}</a></td>
                            <td>{{ link[1] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 来访域名 Top 10 end -->
        </section>
    </div>
</section>
{% endraw %}
