{%raw%}
<section class="content-header">
    <h1>用户信息</h1>
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">用户信息</li>
    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-header">
            <nav>
                <a class="btn-sm btn-warning" href="javascript:void(0)" ng-click="loadMembers()"><span
                        class="glyphicon glyphicon-refresh"></span> 刷新</a>
                <a class="btn-sm btn-danger" href="#/members/add"><span class="glyphicon glyphicon-plus"></span> 新增</a>
            </nav>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="name" id="name" class="form-control pull-right" placeholder="搜索用户名或昵称">
                    <div class="input-group-btn">
                        <button type="button"  ng-click="loadMembers()" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive no-padding" ng-init="loadMembers()">
            <table class="table table-hover member_table">
                <tr>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>是否启用</th>
                    <th>是否审核</th>
                    <th>注册时间</th>
                    <th>注册IP</th>
                </tr>
                <tr ng-repeat="item in items">
                    <td class="text-center">
                        <img ng-src="{{ item.face }}" class="thumbnail" width="80px" height="80px" style="margin-bottom:0px">
                        <div class="caption" style="width:80px">{{ item.nickname }}</div>
                    </td>
                    <td>{{ item.username }}</td>
                    <td><a ng-click="enableMember()" class="btn btn-xs {{item.is_enable?'btn-success':'btn-danger'}}">{{item.is_enable?"已启用":"已禁用"}}</a></td>
                    <td>
                        <span class="label label-xs {{item.is_verify?'label-success':'label-danger'}}">{{item.is_verify?"已审核":"未审核"}}</span>
                    </td>
                    <td>{{ item.reg_time}}</td>
                    <td>{{ item.reg_ip }}</td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <div class="text-right">
                <pager page-count="pageCount" current-page="currentPage" on-page-change="loadMembers()" first-text="首页"
                       next-text="下一页" prev-text="上一页" last-text="尾页" show-goto="true" goto-text="跳转到"></pager>
            </div>
        </div>
    </div>
</section>
{%endraw%}