<ul class="list-unstyled list-inline">
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon1">
                        <a target="_blank" href="/news/id_GrYgdnj21n0wLlB8.html" ${city.shortName}五金制造行业网站建设>
                            <img src="${resRoot}images/hy01.png" alt="${city.shortName}五金制造行业网站建设" title="${city.shortName}五金制造行业网站建设"/>
                        </a>
                    </span>
        <label>
            <a target="_blank" href="/news/id_GrYgdnj21n0wLlB8.html" ${city.shortName}五金制造行业网站建设>五金制造行业</a>
        </label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon1">
                        <a target="_blank" title="${city.shortName}农业养殖行业网站建设" href="/news/id_vyVkBMjmW59bz2DK.html">
                            <img src="${resRoot}images/hy02.png" alt="${city.shortName}农业养殖行业网站建设" title="${city.shortName}农业养殖行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}农业养殖行业网站建设" href="/news/id_vyVkBMjmW59bz2DK.html">农业养殖行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon2">
                        <a target="_blank" title="${city.shortName}房地产行业网站建设" href="/news/id_nV5QJWj1oM9AN1KE.html">
                            <img src="${resRoot}images/hy03.png" alt="${city.shortName}房地产行业网站建设" title="${city.shortName}房地产行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}房地产行业网站建设" href="/news/id_nV5QJWj1oM9AN1KE.html">房地产行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon3">
                        <a target="_blank" href="/news/id_rJMeOkpLP7povR6G.html" title="${city.shortName}建材装修行业网站建设">
                            <img src="${resRoot}images/hy04.png" alt="${city.shortName}建材装修行业网站建设" title="${city.shortName}建材装修行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" href="/news/id_rJMeOkpLP7povR6G.html" title="${city.shortName}建材装修行业网站建设">建材装修行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon4">
                        <a target="_blank" title="${city.shortName}通讯数码行业网站建设" href="/news/id_ZNVQz898QO0o5ane.html">
                            <img src="${resRoot}images/hy05.png" alt="${city.shortName}通讯数码行业网站建设" title="${city.shortName}通讯数码行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}通讯数码行业网站建设" href="/news/id_ZNVQz898QO0o5ane.html">通讯数码行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon5">
                        <a target="_blank" title="${city.shortName}学校培训行业网站建设" href="/news/id_bP8l1djMPr0Jn3oX.html">
                            <img src="${resRoot}images/hy06.png" alt="${city.shortName}学校培训行业网站建设" title="${city.shortName}学校培训行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}学校培训行业网站建设" href="/news/id_bP8l1djMPr0Jn3oX.html">学校培训行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon6">
                        <a target="_blank" title="${city.shortName}餐饮食品行业网站建设" href="/news/id_Bk4yXb0VXGplQn3z.html">
                            <img src="${resRoot}images/hy07.png" alt="${city.shortName}餐饮食品行业网站建设" title="${city.shortName}餐饮食品行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}餐饮食品行业网站建设" href="/news/id_Bk4yXb0VXGplQn3z.html">餐饮食品行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon7">
                        <a target="_blank" title="${city.shortName}婚庆摄影行业网站建设" href="/news/id_1eAWVo9dVWjyEOBL.html">
                            <img src="${resRoot}images/hy08.png" alt="${city.shortName}婚庆摄影行业网站建设" title="${city.shortName}婚庆摄影行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}婚庆摄影行业网站建设" href="/news/id_1eAWVo9dVWjyEOBL.html">婚庆摄影行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon8">
                        <a target="_blank" href="/news/id_4kDaMPjAaNjn31bm.html" title="${city.shortName}物流运输行业网站建设">
                            <img src="${resRoot}images/hy09.png" alt="${city.shortName}物流运输行业网站建设" title="${city.shortName}物流运输行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" href="/news/id_4kDaMPjAaNjn31bm.html" title="${city.shortName}物流运输行业网站建设">物流运输行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon9">
                        <a target="_blank" title="${city.shortName}服装纺织行业网站建设" href="/news/id_Vz8OeD9B8PjlZ7Mo.html">
                            <img src="${resRoot}images/hy10.png" alt="${city.shortName}服装纺织行业网站建设" title="${city.shortName}服装纺织行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}服装纺织行业网站建设" href="/news/id_Vz8OeD9B8PjlZ7Mo.html">服装纺织行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon10">
                        <a target="_blank" title="${city.shortName}机械机电行业网站建设" href="/news/id_q7gz2DjymnjmWyvJ.html">
                            <img src="${resRoot}images/hy11.png" alt="${city.shortName}机械机电行业网站建设" title="${city.shortName}机械机电行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}机械机电行业网站建设" href="/news/id_q7gz2DjymnjmWyvJ.html">机械机电行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon11">
                        <a target="_blank" title="${city.shortName}财务金融行业网站建设" href="/news/id_e7MbmPpgmm0kzBZJ.html">
                            <img src="${resRoot}images/hy12.png" alt="${city.shortName}财务金融行业网站建设" title="${city.shortName}财务金融行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}财务金融行业网站建设" href="/news/id_e7MbmPpgmm0kzBZJ.html">财务金融行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon12">
                        <a target="_blank" title="${city.shortName}广告媒体行业网站建设" href="/news/id_nQPqJ1pPWVjXM27B.html">
                            <img src="${resRoot}images/hy13.png" alt="${city.shortName}广告媒体行业网站建设" title="${city.shortName}广告媒体行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}广告媒体行业网站建设" href="/news/id_nQPqJ1pPWVjXM27B.html">广告媒体行业</a></label>
    </li>
    <li class="wow animate__animated animate__fadeInUp">
                    <span class="service-icon13">
                        <a target="_blank" title="${city.shortName}旅游行业网站建设" href="/news/id_xabmlM031apXeqJD.html">
                            <img src="${resRoot}images/hy14.png" alt="${city.shortName}旅游行业网站建设" title="${city.shortName}旅游行业网站建设"/>
                        </a>
                    </span>
        <label><a target="_blank" title="${city.shortName}医疗保健行业网站建设" href="/news/id_xabmlM031apXeqJD.html">旅游行业</a></label>
    </li>
</ul>