    <#assign resRoot="${resServer}/style/subsite/"/>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="${site.keywords}"/>
    <meta name="description" content="${site.remark}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="baidu-site-verification" content="unyquerAqv" />
    <meta name="360-site-verification" content="f0bd44dd2660681c92dd96c90a0c6aad" />
    <meta name="shenma-site-verification" content="40884e875d759e225ebc5e2be1afd262_1598401692">